<!-- CONTENT
================================================== -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

      <!-- Image -->
      <div class="text-center">
        <%= image_tag 'illustrations/happiness.svg', alt: '...', class: 'img-fluid' %>
      </div>

    </div>
    <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
      
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Sign up
      </h1>
      
      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Free access to our dashboard.
      </p>

      <!-- Form -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <!-- Email address -->
        <div class="form-group">

          <!-- Label -->
          <label>
            Email Address
          </label>

          <!-- Input -->
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@address.com" %>
        </div>

        <!-- Password -->
        <div class="form-group">

          <!-- Label -->
          <label>
            Password
          </label>

          <!-- Input group -->
          <div class="input-group input-group-merge">

            <!-- Input -->
            <%= f.password_field :password, autocomplete: "new-password" , class: "form-control", placeholder: "Enter your password" %>
          </div>
        </div>

        <!-- Password Confirmation -->
        <div class="form-group">

          <!-- Label -->
          <label>
            Password Confirmation
          </label>

          <!-- Input group -->
          <div class="input-group input-group-merge">

            <!-- Input -->
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control", placeholder: "Confirm your password" %>
          </div>
        </div>

        <!-- Submit -->
        <%= f.submit "Sign up", class: "btn btn-lg btn-block btn-primary mb-3" %>

        <!-- Link -->
        <div class="text-center">
          <small class="text-muted text-center">
            Already have an account? <%= link_to "Log in", new_user_session_path %>.
          </small>
        </div>

      <% end %>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
