<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo.svg', alt: '...', class: 'navbar-brand-img' %>
    </a>

    <!-- Navigation -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%= active_class?('/') %>" href="/">
          <i class="fe fe-home"></i> Overview
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sidebarDashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarDashboards">
          <i class="fe fe-home"></i> Resources
        </a>
        <div class="collapse show" id="sidebarDashboards">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a href="/clients" class="nav-link <%= active_class?('/clients') %>">
                Clients
              </a>
            </li>
            <li class="nav-item">
              <a href="/vendors" class="nav-link <%= active_class?('/vendors') %>">
                Vendors
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- Divider -->
    <hr class="navbar-divider my-3" />

    <!-- Heading -->
    <h6 class="navbar-heading">
      Documentation
    </h6>

    <!-- Navigation -->
    <ul class="navbar-nav mb-md-4">
      <li class="nav-item">
        <a class="nav-link active" href="changelog.html">
          <i class="fe fe-git-branch"></i> Changelog <span class="badge badge-primary ml-auto">v1.4.2</span>
        </a>
      </li>
    </ul>

    <!-- Push content down -->
    <div class="mt-auto"></div>

    <div class="navbar-user d-none d-md-flex" id="sidebarUser">

      <!-- Icon -->
      <a href="#sidebarModalActivity" class="navbar-user-link" data-toggle="modal">
        <span class="icon">
          <i class="fe fe-bell"></i>
        </span>
      </a>

      <!-- Dropup -->
      <div class="dropup">
        
        <!-- Toggle -->
        <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-sm avatar-online">
            <%= image_tag 'avatars/profiles/avatar-1.jpg', alt: '...', class: 'avatar-img rounded-circle' %>
          </div>
        </a>

        <!-- Menu -->
        <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
          <a href="profile-posts.html" class="dropdown-item">Profile</a>
          <a href="settings.html" class="dropdown-item">Settings</a>
          <hr class="dropdown-divider" />
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>

      </div>

      <!-- Icon -->
      <a href="#sidebarModalSearch" class="navbar-user-link" data-toggle="modal">
        <span class="icon">
          <i class="fe fe-search"></i>
        </span>
      </a>

    </div>

  </div>
</nav>
