<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <%= render "shared/keen/topbar-search" %>
    <%= render "shared/keen/topbar-notifications" %>
    <%= render "shared/keen/topbar-quick-actions" %>
    <%= render "shared/keen/topbar-user" %>
    <%= render "shared/keen/topbar-quick-panel" %>
</div>
<!-- end:: Header Topbar -->