<!DOCTYPE html>
<html>

<head>
  <title>Ad Metric</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script>
    var KTAppOptions = {
      "colors": {
        "state": {
          "brand": "#5d78ff",
          "metal": "#c4c5d6",
          "light": "#ffffff",
          "accent": "#00c5dc",
          "primary": "#5867dd",
          "success": "#34bfa3",
          "info": "#36a3f7",
          "warning": "#ffb822",
          "danger": "#fd3995",
          "focus": "#9816f4"
        },
        "base": {
          "label": [
            "#c5cbe3",
            "#a1a8c3",
            "#3d4465",
            "#3e4466"
          ],
          "shape": [
            "#f0f3ff",
            "#d9dffa",
            "#afb4d4",
            "#646c9a"
          ]
        }
      }
    };
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
  <script>
    WebFont.load({
      google: {
        "families": ["Poppins:300,400,500,600,700"]
      },
      active: function () {
        sessionStorage.fonts = true;
      }
    });
  </script>

  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">
  <%= render "shared/keen/layout-page-loader" %>
  <%= render "shared/keen/header-base-mobile" %>
  <!-- begin:: Root -->
  <div class="kt-grid kt-grid--hor kt-grid--root">
      <!-- begin:: Page -->
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
          <%= render "shared/keen/aside-base" %>
          <!-- begin:: Wrapper -->
          <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
              <%= render "shared/keen/header-base" %>
              <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                  <%= render "shared/keen/subheader-subheader-v1" %>
                  <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
                    <%= yield %>
                  </div>
              </div>
              <%= render "shared/keen/footer-base" %>
          </div>
          <!-- end:: Wrapper -->
      </div>
      <!-- end:: Page -->
  </div>
  <!-- end:: Root -->
  <!-- begin:: Topbar Offcanvas Panels -->
  <%= render "shared/keen/offcanvas-quick-actions" %>
  <!-- end:: Topbar Offcanvas Panels -->
  <%= render "shared/keen/layout-quick-panel" %>
  <%= render "shared/keen/layout-scrolltop" %>
  <%= render "shared/keen/layout-toolbar" %>

  <%= javascript_include_tag 'application' %>
</body>

</html>